@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-primary: theme('colors.black');
  --color-text-secondary: theme('colors.gray.500');
  --color-bg-primary: theme('colors.white');
  --color-bg-secondary: theme('colors.white');
}

/* TODO: Add color-blind mode */

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-primary: theme('colors.white');
    --color-text-secondary: theme('colors.gray.400');
    --color-bg-primary: theme('colors.slate.900');
    --color-bg-secondary: theme('colors.gray.700');
  }
}

@layer base {
  html {
    color: var(--color-text-primary);
    background-color: var(--color-bg-primary);
  }
}
